<!DOCTYPE html>
<html>
  <head>
    <!--title><%= title %></title-->
    <meta charset="utf-8"><title>Quiz1</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: el juego de las preguntas</h2>
      
        <p> Autor: <%= autor %> 
		<img src="/images/foto.JPG" />
        </p>

    <!--h1>Bienvenido a <%= title %></h1>
    <p>Autor: José Manuel Barrios Sánchez</p>
    <!--img src="/public/MiFoto.png" WIDTH=178 HEIGHT=180 ALT="Foto de JMBS">
    <img-->
  </body>
</html>
