<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>Autor: José Manuel Barrios Sánchez</p>
    <!--img src="/public/MiFoto.png" WIDTH=178 HEIGHT=180 ALT="Foto de JMBS">
    <img-->
  </body>
</html>
